@import url('https://fonts.googleapis.com/css?family=Bungee');
@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/jquery.scrollbar/sass/jquery.scrollbar.scss';
@fa-font-path: "/fonts/";

// jquery.scrollbar overrides

.scrollbar-outer > .scroll-element {
    background: transparent;
}

.scrollbar-outer > .scroll-content.scroll-scrolly_visible {
    left: -20px;
    margin-left: 20px;
}

/*
 *  desktop styles
 *  ==================================
 *  1: global variables
 *  2: general styles
 *  small components
 *   - 3: buttons
 *   - 4: errors
 *   - 5: form fields
 *   - 6: loading icon
 *   - 7: rankings
 *
 *  bigger components
 *   - 8: centre list
 *   - 9: floating elements container
 *   - 10: lists
 *   - 11: map
 *   - 12: modals
 *   - 13: single centre view
 *   - 14: top bar
 *   - 15: user favourites
 *
 *  mobile styles
 *  ==================================
 *  1: buttons
 *  2: modals
 *  3: single centre view
 *  4: top bar
 *
 *  tablet styles
 *  ==================================
 *  1: top bar
 *
 *
 */

// 1: global variables

$primary-color: #ff2333;
$title-color: #ff2333;
$display-font-stack: Bungee, Helvetica, Arial, sans-serif;
$primary-font-stack: Roboto, Helvetica, Arial, sans-serif;
$background-color: #f5f5f5;
$container-radius: 3px;

$top-bar-color: #333;

$button-text: #fff;
$button-color: $primary-color;
$button-padding: .75rem 1rem;

$gold: #cfb53b;
$silver: #c0c0c0;
$bronze: #a57164;

// 2:general styles

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $primary-font-stack;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

main {
     flex: auto;
     position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

.h-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}

// SMALL COMPONENTS

// 3: buttons

.c-button {
    color: $button-text;
    background-color: $button-color;
    text-decoration: none;
    padding: $button-padding;
    display: inline-block;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
        background-color: darken($button-color, 10);
    }

    &--small {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    &--rounded {
        border-radius: 3rem;
    }

    &--grey {
        background-color: #444;

        &:hover {
            background-color: darken(#444, 5);
        }
    }

    &--dark {
        background-color: darken($primary-color, 10);

        &:hover {
            background-color: darken($primary-color, 15);
        }
    }
}

// 4: errors

.c-error {
    &--favs {
        text-align: center;
        padding: 1rem;
    }

    &--app {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 105;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.9);
        padding: 1rem;
        color: white;
    }
}

// 5: form fields

.c-input-group {
    display: flex;
    flex-direction: column;

    &__label {
        font-size:0.6rem;
        padding: 0.25rem 0.5rem;
        text-transform: uppercase;
    }
}

.c-input {
    font-family: $primary-font-stack;
    border: none;
    border-bottom: 0.5px solid #bbb;
    background: transparent;
}

// 6: loading icon

.c-loading-icon {
    width: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

// 7: rankings

[class*="c-ranking--"] {
    color: darken($primary-color, 15);
}

.c-ranking {
    &--1 {
        color: $gold;
    }
    &--2 {
        color: $silver;
    }
    &--3 {
        color: $bronze;
    }
}


// BIGGER COMPONENTS

// 8: centre list

.c-centre-list {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.5rem;

    > .c-centre-list__content {
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

    &__title {
        padding-left: .5rem;
    }

    &__list-item {
        padding: .5rem;
        border-bottom: .5px solid #ddd;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }
    }

    &__list {
        margin: 0;
    }

    &__ranks {
        flex: 1 0 auto;
        text-align: right;
        font-size: 0.7rem;
        line-height: 1rem;
        margin-left: 0.5rem;
    }

    &__name {
        flex: 0 1 auto;
    }

    &__button {
        pointer-events: all;
    }

    &__content {
        background-color: white;
        overflow-y: auto;
        pointer-events: all;
        max-width: 360px;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 0.5rem solid white;
    }
}

// 9: floating elements container

.c-floating-elements {
    height: 100%;
    width: 100%;
    z-index: 101;
    position: absolute;
    pointer-events: none;
}

// 10: list

.c-list {
    display: flex;
    flex-direction: column;

    &__header {
        border-top-left-radius: $container-radius;
        border-top-right-radius: $container-radius;
        background-color: #eee;
        padding: 1rem;
    }

    &__main {
        overflow-y: auto;
    }

    &__item {
        border-top: 1px solid #ddd;
    }
}

// 11: map

.c-map {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.c-infowindow {
    hr {
        border: none;
        border-bottom: 0.5px solid #444;
        height: 1px;
    }
    h4 {
        margin: 0;
    }

    &__text {
        margin-bottom: 0;
    }

    &__button {
        margin-top: 0.5rem;
    }
}

// 12: modals

.c-modal {
    max-width: 600px;
    min-width: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &--wide {
        max-width: 800px;
    }

    &__close-btn {
        font-size: 1.5rem;
        cursor: pointer;
        padding: 0.5rem;
    }

    &__main {
        max-height: 100%;
        background-color: $background-color;
        border-radius: $container-radius;
        flex: 1 1 auto;
    }

    &__above {
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
    }

    &__below {
        color: white;
        margin-top: 1rem;
    }
}

.c-modal-container {
    display: flex;
    justify-content: center;
    height: 100%;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 102;
    background-color: $background-color;
    padding: 2rem;

    &--overlay {
        background-color: rgba(0,0,0,.6);
    }
}

// 13: single centre view

.c-hawker-details {
    display: flex;
    flex-direction: row;

    &__subtitle {
        margin-bottom: 0;
        font-family: $primary-font-stack;
    }

    &__left {
        margin: 1rem;
        margin-right: 0.5rem;
        width: 50%;
        overflow-y: auto;
    }

    &__right {
        margin: 1rem;
        margin-right: 0.5rem;
        width: 50%;
    }

    &__title {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        margin: 0;
        font-size: 2rem;
        color: darken($primary-color, 10);
        font-family: $primary-font-stack;
    }

    &__main {
        overflow-y: auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: 200px;
    }

    &__image {
        height: 60px;
        border-radius: 50%;
        margin-top: 1rem;
    }

    &__ranking-list {
        display: flex;
        flex-wrap: wrap;
    }

    [class*="c-hawker-details__ranking-item--"] {
        background-color: #eee;
    }

    &__ranking-item {
        border-radius: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 0.9rem;
        display: flex;

        &--1 {
            background-color: #CFB53B;
            background: linear-gradient(lighten(#CFB53B, 10), #CFB53B);
        }

        &--2 {
            background-color: silver;
            background: linear-gradient(lighten(silver, 10), silver);
        }

        &--3 {
            background-color: #A57164;
            background: linear-gradient(lighten(#A57164, 10), #A57164);
            color: white;
        }
    }

    &__item-name {
        display: inline-block;
        padding: 0.25rem;
        &:nth-child(2) {
            border-left: 1px solid rgba(0, 0, 0, 0.25);
        }
    }

    &__item-rank {
        display: inline-block;
        padding: 0.25rem;
        border-right: 1px solid rgba(255, 255, 255, 0.5);
    }
}

// 13: single centre view: foursquare tips

.c-foursquare {
    &__heading {
        margin: 0;
    }

    &__error {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: grey;
    }

    &__tip {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.5px solid #ddd;
        display: flex;
        justify-content: space-between;
    }

    &__tip-body {
        flex: 1;
    }

    &__tip-likes {
        color: blue;
        margin-left: 1rem;
    }
}

// 14: top bar

header {
    z-index: 100;
}

.c-top-bar {
    width: 100%;
    background-color: $top-bar-color;

    &__title {
        color: $title-color;
        font-family: $display-font-stack;
        text-transform: uppercase;
        margin: 0;
        margin-right: 2rem;
    }

    &__container {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search-container {
        display: flex;
        flex: 1 1 560px;
    }

    &__message {
        font-weight: 300;
        letter-spacing: 0.1px;
        background-color: rgba($top-bar-color, 0.9);
        color: #fff;
        padding: 0.5rem 1rem;
        width: 100%;
        flex: 0 0 auto;
    }

    &__search {
        position: relative;
        flex: auto;
    }

    ::placeholder {
        color: white;
    }

    &__label {
        color: white;
    }

    &__input {
        padding: 0.5rem;
        color: white;
        margin-right: 1rem;

        &--small {
            width: 5rem;
        }
    }

    &__edit-favourites {
        margin-left: 1rem;
        flex: 0 0 auto;
    }
}

// 15: user favourites

.c-favourites {
    display: flex;
    flex-direction: column;

    &__heading {
        margin-top: 0;
        color: darken($primary-color, 10);
    }

    &__search {
        width: 100%;
        border-radius: 1rem;
        border: 1px solid #ddd;
        font-size: 1rem;
        height: 2rem;
        padding: 0 1rem;
        outline: none;
    }
}

.c-favourite {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__category {
        &--existing {
            opacity: 0.3;
        }
    }

    &__choice {
        &--existing {
            font-size:0.8rem;
            color: #666;
            margin-top: 0.2rem;
        }
    }

    &__centre-name {
        cursor: pointer;
        color: darken($primary-color, 10);
    }

    &__placeholder {
        font-style: italic;
        color: #444;
    }

    &--existing {
        background-color: red;
    }

    &--defined {
        .c-favourite__choice {
            color: red;
        }
    }

    &--editing {
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        background-color: white;
    }

    &__select {
        width: 100%;
        margin-top: 0.25rem;
        padding: 0.25rem;
        border: none;
        border-bottom: 1px solid $primary-color;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 1rem;
        flex: 1 1 auto;
    }

    &__category {
        font-weight: bold;
    }

    &__actions {
        text-align: right;
        flex: 0 0 auto;
    }

    &__action {
        $circle-size: 2.75rem;
        cursor: pointer;
        display: inline-block;
        font-size: 1.2rem;
        color: inherit;
        border-radius: 50%;
        height: $circle-size;
        width: $circle-size;
        line-height: $circle-size;
        text-align: center;
        transition: all 0.2s;

        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }

        &--edit {

        }
    }
}

@media screen and (max-width: 640px){

    // 1: buttons
    .c-button {
        font-size: 0.9rem;
    }

    // 2: modals
    .c-modal-container {
        padding: 0;
    }

    .c-modal {
        &__above {
            background-color: darken($primary-color, 10);
        }

        &__main {
            border-radius: 0;
        }
    }

    // 3: single centre view
    .c-hawker-details {
        overflow-y: auto;
        flex-direction: column;
        padding: 1rem;
        flex: 1 0 auto;

        &__left, &__right {
            width: 100%;
            overflow: visible !important;
            margin: 0;
        }
    }

    .c-foursquare {
        &__heading {
            margin-top: 1rem;
        }

        &__error {
            position: relative;
            left: 0;
            top: 0;
        }
    }

    // 4: top bar
    .c-top-bar {
        &__title {
            margin-right: 0;
        }

        &__edit-favourites {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 950px){
    .c-top-bar {
        &__container {
            flex-wrap: wrap;
            align-items: flex-start;
        }

        &__title {
            order: -2;
            margin-bottom: 1rem;
        }

        #tb-edit-favourites {
            order: -1;
        }
    }
}
